@{
  Layout = "_Layout";
}

@model Pierres.Models.Treat

<h2>Add a New Treat</h2>
@using (Html.BeginForm())
{
  @Html.Label("Treat: ")
  @Html.TextBoxFor(model => model.TreatName)

  <input type="submit" value="Add New Treat" class="btn btn-default" />
}
<hr />

<p>@Html.ActionLink("Back to All Treats", "Index")</p>