@{
  Layout = "_Layout";
}

@model Pierres.Models.Flavor

<h2>Add a New Flavor</h2>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FlavorDescription)
  @Html.TextBoxFor(model => model.FlavorDescription)

  <input type="submit" value="Add New Flavor" class="btn btn-default" />
}
<hr/>

<p>@Html.ActionLink("Back to All Flavors", "Index")</p>